ion-view(title='About this seed')
  ion-content(has-header='true', has-tabs='true', padding='true')
    .card
      p
        | This is a sample seed project created by Luis Edimerchk Laverde.
      p You can find me in:
      .list
        a.item.item-icon-left(href='mailto:edyhack@gmail.com', target='_blank')
          i.icon.ion-email
          | edyhack@gmail.com
        a.item.item-icon-left(href='https://twitter.com/edymerchk', target='_blank')
          i.icon.ion-social-twitter
          | @edymerchk
        a.item.item-icon-left(href='https://github.com/edymerchk', target='_blank')
          i.icon.ion-social-github
          | github.com/edymerchk
