ion-view(title='Home')
  ion-content(has-header='true', has-tabs='true')
    .card
      .item.item-text-wrap
        h2 Brunch-ionic-angular-cordova-seed
    .card
      .item.item-text-wrap
        | This is a template for building mobile apps using like HTML, CSS, and Javascript.
    .card
      .item.item-text-wrap
        | It uses
        a(href='http://phonegap.com/', target='_blank') PhoneGap
        | for compiling/supporting different devices,
        a(href='http://angularjs.org/', target='_blank') AngularJs
        | for the application framework,
        a(href='http://gulpjs.com/', target='_blank') Gulp.js
        | for work-flow/application and
        a(href='http://ionicframework.com/', target='_blank') Ionic
        | a powerful HTML5 native app development framework.
