//
  Create tabs with an icon and label, using the tabs-positive style.
  Each tab's child <ion-nav-view> directive will have its own
  navigation history that also transitions its views in and out.
ion-tabs(tabs-style='tabs-icon-top', tabs-type='tabs-default', class="tabs-icon-top tabs-positive")
  // Home Tab
  ion-tab(title='Home', icon='icon ion-home', href='#/tab/home')
    ion-nav-view(name='home-tab')
  // Vendors Tab
  ion-tab(title='Vendors', icon='icon ion-star', href='#/tab/vendors')
    ion-nav-view(name='vendors-tab')
  // About Tab
  ion-tab(title='About', icon='icon ion-information-circled', href='#/tab/about')
    ion-nav-view(name='about-tab')
