ion-view(title='Vendors')
  ion-content(has-header='true', has-tabs='true', padding='true')
    .list(ng-repeat='vendor in vendors')
      a.item.item-thumbnail-left(href='{{vendor.link}}', target='_blank')
        img(src='img/{{vendor.image}}')
        h2 {{vendor.name}}
        p {{vendor.description}}
